@charset "UTF-8";
body{
    background-color: rgb(250, 232, 210);
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
h1{
    color: rgb(172, 137, 93);
}
h1#principal{
    text-align: center;
    background-color: rgb(172, 137, 93);
    color: white;
}
h2{
    color: rgb(219, 180, 132);
}
.basico{
    color: rgb(219, 215, 132);
}
.intermediario{
    color: rgb(219, 202, 132);
}
.avancado{
    color: rgb(219, 132, 132);
}
p{
    text-indent: 30px;
}
.destaque{
    color: rgba(182, 113, 28, 0.562);
}
